{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<ul>
    <li><a href="{{ path('app_category_index') }}">Catégories</a></li>
    <li><a href="{{ path('app_book_index') }}">Livres</a></li>
    <li><a href="{{ path('app_author_index') }}">Auteurs</a></li>
</ul>
</div>
{% endblock %}
